<h1>Books</h1>
<% @books.each do |book| %>
    <h3>Title</h3>
    <%= book.title %>
    <h3>Body</h3>
    <%= book.body %>
    <%= link_to "Show", book_path(book.id) %>
    <%= link_to "Edit", edit_book_path(book.id) %>
    <%= link_to "Destroy", books_path, method: :delete, "data-confirm" => "Are you sure?" %>
<% end %>