<h1>Books</h1>
<% @books.each do |book| %>
    <h3>Title</h3>
    <%= book.title %>
    <h3>Body</h3>
    <%= book.body %>
    <%= link_to "Show", book_path %>
    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Destroy", %>
<% end %>